/* Fonts
--------------------------------------------------------------------- */

@import "fonts";

/* normalize.css 4.1.1
--------------------------------------------------------------------- */

@import 'normalize';

// SASS settings

@import "variables";
@import "mixins";

/* General
--------------------------------------------------------------------- */

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background: $bg-base;
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-hight-base;
	color: $font-color-base;
}

.wrapper-container {
	@include wrapper-container;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
ul, ol, li {
	@include indent-zero;
}

p {
	margin: 0 0 10px 0;
}

/* Styles
--------------------------------------------------------------------- */

.container {
	padding: 50px;
}

.block-data {
	margin-bottom: 50px;
}

.data-sample {
	width: 70%;
	height: 200px;
	padding: 20px;
	margin-bottom: 15px;
	background-color: lightblue;
}

.block-size {
	width: 50%;
	height: 200px;
	margin-bottom: 15px;
	border: 25px solid lightcoral;
	background-color: lightgreen;
}

.scroll-div {
	margin-bottom: 50px;
}

.size-value {
	margin-bottom: 50px;
}

.block1 {
	margin-bottom: 50px;
}

.block2 {
	margin-bottom: 50px;

}