/* Fonts
--------------------------------------------------------------------- */

@import "fonts";

/* normalize.css 4.1.1
--------------------------------------------------------------------- */

@import 'normalize';

// SASS settings

@import "variables";
@import "mixins";

/* General
--------------------------------------------------------------------- */

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background: $bg-base;
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-hight-base;
	color: $font-color-base;
}

.wrapper-container {
	@include wrapper-container;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
ul, ol, li {
	@include indent-zero;
}

p {
	margin: 0 0 10px 0;
}

/* Styles
--------------------------------------------------------------------- */

.main-content {
	padding: 20px 50px 20px 100px;
}

.headings {
	margin-bottom: 50px;

	h1 {
		margin-bottom: 25px;
	}
}

.block {
	margin-bottom: 80px;

	&__title {
		margin-bottom: 30px;
		font-size: 24px;
	}
	
	a {
		border-bottom: 1px solid tomato;
		font-size: 18px;
		font-weight: bold;
		color: tomato;
	}
}