// Typography

$font-base: "OpenSans", "Arial", sans-serif;
$font-size-base: 20px;
$line-hight-base: 160%;
$font-color-base: black;

// Colors

// Blocks

$wrapper-container: 1000px;

// Background

$bg-base: white;

// Effects

$hover-opacity: .7;
$hover-transition: all .2s ease;

// Shadows

$shadow-section: 0 0 5px 0 rgba(0, 0, 0, .25);